/* RSVP Form  Grid */
.rsvp-container 
{
	grid-template: repeat(6, 1fr) / repeat(6, max(100px, 1fr));
	gap: 10px;
}

/* RSVP Form Children */
.rsvp-container > input 
{ 
	align-self: center; 
	padding: 10px; 
	border: thin solid black;
	border-radius: 4px;
	transition: border-color 1s ease-out 0.10s;
}

.rsvp-container > label { align-self: center; padding: 10px; }
.rsvp-container > input:hover { border-color: #3498db; }
.rsvp-container > label:hover { cursor: text;}
.rsvp-container > label:focus-within { font-size: 1px; }

.rsvp-heading { grid-area: 1 / 3 / 1 / 5; }
.first-input { grid-area: 2 / 1 / 2 / 4; }
.first-input { grid-area: 2 / 1 / 2 / 4; }
.last-input { grid-area: 2 / 4 / 2 / 7; }
.email-input { grid-area: 3 / 1 / 3 / 4; }
.phone-input { grid-area: 3 / 4 / 3 / 7; }
.attending-heading { grid-area: 4 / 3 / 4 / 5; }
.checkbox-input-yes { grid-area: 5 / 3 / 5 / 4; }
.checkbox-input-no { grid-area: 5 / 4 / 5 / 5; }
.submit-button { grid-area: 6 / 3 / 6 / 5; }

/* Radio Yes or No */

input[type="radio"] { display: none; }
input[type="radio"]+ label { text-align: center; }
input[type="radio"]:hover + label { cursor: pointer; background-color: rgb(235, 241, 243); }
input[type="radio"]:checked + label { background-color: darkblue; color: white;}

/* Form Submission */
button[type="submit"]:hover { background-color: darkslategray; cursor: pointer; }