.border-black { border: thin solid black; }
.border-white { border: thin solid white; }

.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-none { border-style: none; }
.border-thin { border-width: 1px; }
.border-medium { border-width: 2px; }
.border-thick { border-width: 4px; }

.br-sm { border-radius: 4px; }
.br-med { border-radius: 8px; }
.br-lg { border-radius: 16px; }

.bc-black { border-color: black; }
.bc-white { border-color: white; }
.bc-primary { border-color: #3498db; }
.bc-secondary { border-color: #2ecc71; }
.bc-tertiary { border-color: #e74c3c; }
.bc-quaternary { border-color: #9b59b6; }