.flex-row { display: flex; flex-direction: row; }
.flex-col { display: flex; flex-direction: column; }
.flex-center { justify-content: center; align-items: center; }
.flex-start { justify-content: start; align-items: start; }
.flex-end { justify-content: end; align-items: end; }

.flex-main-start { justify-content: start; }
.flex-main-end { justify-content: end; }
.flex-main-center { justify-content: center; }
.flex-main-between { justify-content: space-between; }
.flex-main-around { justify-content: space-around; }
.flex-main-evenly { justify-content: space-evenly; }
.flex-main-stretch { justify-content: stretch; }

.flex-cross-start { align-items: start; }
.flex-cross-end { align-items: end; }
.flex-cross-center { align-items: center; }
.flex-cross-between { align-items: space-between; }
.flex-cross-around { align-items: space-around; }
.flex-cross-evenly { align-items: space-evenly; }
.flex-cross-stretch { align-items: stretch; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

flex-ac-start { align-content: start; }
flex-ac-end { align-content: end; }
flex-ac-center { align-content: center; }
flex-ac-between { align-content: space-between; }
flex-ac-around { align-content: space-around; }
flex-ac-stretch { align-content: stretch; }

.flex-1 { flex: 1; }

.gap-0 { gap: 0; }
.gap-1 { gap: 1rem; }
.gap-2 { gap: 2rem; }
.gap-3 { gap: 3rem; }
.gap-4 { gap: 4rem; }
.gap-5 { gap: 5rem; }
.gap-6 { gap: 6rem; }
.gap-7 { gap: 7rem; }
.gap-8 { gap: 8rem; }
.gap-9 { gap: 9rem; }
.gap-10 { gap: 10rem; }