.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}

.flex-main-center
{
    justify-content: center;
}

.flex-cross-center
{
    align-items: center;
}

.flex-center
{
    justify-content: center;
    align-items: center;
}

.flex-main-start
{
    justify-content: start;
}

.flex-cross-start
{
    align-items: start;
}

.flex-start
{
    justify-content: start;
    align-items: start;
}

.flex-main-end
{
    justify-content: end;
}

.flex-cross-end
{
    align-items: end;
}

.flex-end
{
    justify-content: end;
    align-items: end;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.flex-wrap-reverse
{
    flex-wrap: wrap-reverse;
}

.flex-nowrap
{
    flex-wrap: nowrap;
}

.gap-0
{
    gap: 0;
}

.gap-1
{
    gap: 1em;
}

.gap-2
{
    gap: 2em;
}

.gap-3
{
    gap: 3em;
}


